Prescritto_2016/InvioPrescrittoRichiesta_ANYTYPE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://invioprescrittorichiesta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodati.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://invioprescrittorichiesta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodati.xsd.dem.sanita.finanze.it" schemaLocation="TipiDati.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="InvioPrescrittoRichiesta">
		<xs:annotation>
			<xs:documentation>Elemento base per l'invio al SAC della ricetta prescritta dal medico</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pinCode" type="td:stringType">
					<xs:annotation>
						<xs:documentation>PinCode inviante</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfMedico1" type="td:cfMedicoType">
					<xs:annotation>
						<xs:documentation>Codice fiscale del medico associato all'NRE inviato o attribuito in fase di registrazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfMedico2" type="td:cfMedicoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice fiscale del medico che compila la ricetta elettronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codRegione" type="td:codRegioneType">
					<xs:annotation>
						<xs:documentation>Codice Regione / Provincia Autonoma del medico a cui si vuole attribuire un NRE</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codASLAo" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice ASL del medico a cui si vuole attribuire un NRE</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codStruttura" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice struttura del medico a cui si vuole attribuire un NRE</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codSpecializzazione" type="td:codSpecializzazioneType">
					<xs:annotation>
						<xs:documentation>Specializzazione del medico a cui si vuole attribuire un NRE</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="testata1" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="testata2" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo destinato a informazioni aggiuntive</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nre" type="td:nreType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>L'elemento contiene il Numero di ricetta elettronica (NRE)</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoRic"  minOccurs="0"> <!-- eliminato  type="td:tipoRicettaType" modificato -->
					<xs:annotation>
						<xs:documentation>Tipologia della ricetta compilata</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token"> 
							<xs:enumeration value="EE"/> <!-- assicurati Extraeuropei in temp soggiorno -->
							<xs:enumeration value="UE"/> <!-- assicurati europei in temp soggiorno -->
							<xs:enumeration value="NA"/> <!-- assistiti SASN con visita ambulatoriale -->
							<xs:enumeration value="ND"/> <!-- assistiti SASN con visita domiciliare -->
							<xs:enumeration value="NE"/> <!-- assistiti da istituzioni europee -->
							<xs:enumeration value="NX"/> <!-- assistiti SASN extraeuropei -->
							<xs:enumeration value="ST"/> <!-- stranieri in temporaneo soggiorno -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="codiceAss" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice Fiscale/STP/ENI/altro che rappresenta l'assistito per cui viene compilata la ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cognNome" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cognome e nome dell'assistito </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="indirizzo" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indirizzo dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="oscuramDati" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dati sensibili oscurati</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numTessSasn" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero tessera assistenza SASN</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="socNavigaz" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Societa di navigazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoPrescrizione" > <!-- eliminato type="td:tipoPrescType" aggiunte tipologie  -->
					<xs:annotation>
						<xs:documentation>F - Farmaceutica, P - Specialistica</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="F"/>
							<xs:enumeration value="P"/>
							<xs:enumeration value="TRAS"/> <!-- richiesta di Trasporto -->
							<xs:enumeration value="PRAU"/> <!-- Pesidi Ausili -->
							<xs:enumeration value="RICO"/> <!-- ricovero -->
							<xs:enumeration value="RIAB"/> <!-- riabilitativa -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="ricettaInterna" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>La ricetta per prestazioni specialistiche prescritta internamente ad una struttura pubblica deve essere erogata all'interno della stessa struttura</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice> <!-- messo la choice -->
					<xs:element name="codEsenzione" type="td:stringType" > <!-- minOccurs="0" -->
					<xs:annotation>
						<xs:documentation>Codice esenzione riportato in ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
					<xs:element name="nonEsente"  > <!-- rimosso type="td:stringType", minOccurs="0", modificato il tipo di dato-->
					<xs:annotation>
						<xs:documentation>Campo che indica se l'assistito e' esente oppure no</xs:documentation>
					</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:token">
								<xs:enumeration value="1"></xs:enumeration>
							</xs:restriction>
						</xs:simpleType>
				</xs:element>
				</xs:choice>
		        <xs:element name="reddito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo che indica se l'assistito e' esente per reddito oppure no</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codDiagnosi" type="td:stringType" minOccurs="0"> 
					<xs:annotation>
						<xs:documentation>Codice diagnosi o del sospetto diagnostico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="descrizioneDiagnosi" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descrizione della diagnosi o del sospetto diagnostico in testo libero</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataCompilazione" type="td:dataOraType">
					<xs:annotation>
						<xs:documentation>Data compilazione della ricetta, formato aaaa-mm-gg hh24:mm:ss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoVisita"> <!-- rimosso type="td:tipoVisitaType"  -->
					<xs:annotation>
						<xs:documentation>A - Ambulatoriale, D - Domiciliare</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:token">
							<xs:enumeration value="A"/>
							<xs:enumeration value="D"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="dispReg"> <!-- modificato lo schema per questo elemento-->
					<xs:annotation>
						<xs:documentation>Disposizioni regionali specifiche</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<!-- in data 06/10/15 aggiunti dispReg OltreCUP + modifiche Ermete per aggiunta GR-->
						<xs:restriction base="xs:token">
							<xs:enumeration value="0"/>
							<xs:enumeration value="1"/>
							<xs:enumeration value="3"/>
							<xs:enumeration value="4"/>
							<xs:enumeration value="9_1"/> <!-- GR ermete Per situazione clinica non contemplata nell’IP -->
							<xs:enumeration value="9_2"/> <!-- GR ermete Per prescrizione specialistica -->
							<xs:enumeration value="9_3"/> <!-- GR ermete Per non condivisione -->
							<xs:enumeration value="9_4"/> <!-- GR ermete Per altri motivi -->
							
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="provAssistito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia di residenza dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="aslAssistito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Asl di residenza dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="indicazionePrescr" type="td:indicPrescType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>S - Suggerita, H - Ricovero</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="altro" type="td:indicPrescType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicazione di trattamento di una patologia cronica o non cronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classePriorita" minOccurs="0"> <!--   type="td:prioritaType" : RVE DGR 600 -->
					<xs:annotation>
						<xs:documentation>Classe di priorita' della prescrizione</xs:documentation>
					</xs:annotation>
					<xs:simpleType> 
						<xs:restriction base="xs:token"> <!-- modificato questo type per avere un enumeration -->
							<xs:enumeration value="U"/> <!-- nel più breve tempo possibile -->
							<xs:enumeration value="B"/> <!-- entro 10 giorni -->
							<xs:enumeration value="D"/> <!-- entro 30 giorni -->
							<xs:enumeration value="P"/> <!-- senza priorità -->
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="statoEstero" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Stato del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="istituzCompetente" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Istituzione competente del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numIdentPers" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero di identificazione personale del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numIdentTess" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero di identificazione della tessera del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataNascitaEstero" type="xs:date" minOccurs="0"> <!-- 07/11/2013 aggiornato type da dataOraType a xs:date per problemi sulla lunghezza del campo  -->
					<xs:annotation>
						<xs:documentation>Data di nascita del soggetto assicurato da istituzioni estere nel formato aaaa-mm-gg</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataScadTessera" type="xs:date" minOccurs="0"> <!-- 07/11/2013 aggiornato type da dataOraType a xs:date per problemi sulla lunghezza del campo  -->
					<xs:annotation>
						<xs:documentation>Data scadenza della tessera del soggetto assicurato da istituzioni estere nel formato aaaa-mm-gg</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoDettagliPrescrizioni" type="td:elencoDettagliPrescrizioniType">
					<xs:annotation>
						<xs:documentation>Elenco singole prescrizioni</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
